@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Regular"), url("./fonts/OpenSans-Regular.ttf");
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
table {
  background-color: inherit;
  border-collapse: collapse;
}
th {
  border-bottom: 2px solid #848484;
}
td {
  padding: 1em;
  text-align: center;
}
