.container {
  width: 400px;
  height: 400px;
  background-color: #00888811;
  overflow: hidden;
}

.explain-box {
  background-color: #88008811;
  padding: 1em;
}

.agent {
  border: 1px solid black;
  background-color: #88880011;
  margin-bottom: 1em;
}

.polled {
  border: 1px solid black;
  background-color: #88000044;
  margin-bottom: 1em;
}
